name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - test
      - feature/**

  pull_request:
    branches:
      - main

jobs:
  run-tests:
    name: Run Tests and Static Analysis
    runs-on: ubuntu-latest
    env:
      POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
      POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
      POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
      POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
      POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
      ACCESS_TOKEN_SECRET_KEY: ${{ secrets.ACCESS_TOKEN_SECRET_KEY }}
      REFRESH_TOKEN_SECRET_KEY: ${{ secrets.REFRESH_TOKEN_SECRET_KEY }}
      ALGORITHM: ${{ secrets.ALGORITHM }}
      MINIO_ROOT_USER: ${{ secrets.MINIO_ROOT_USER }}
      MINIO_ROOT_PASSWORD: ${{ secrets.MINIO_ROOT_PASSWORD }}
      MINIO_BUCKET: ${{ secrets.MINIO_BUCKET }}
      MINIO_ENDPOINT: ${{ secrets.MINIO_ENDPOINT }}
      BASE_FRONTEND_URL: ${{ secrets.BASE_FRONTEND_URL }}
      MAIL_USERNAME: ${{ secrets.MAIL_USERNAME }}
      MAIL_PASSWORD: ${{ secrets.MAIL_PASSWORD }}
      ENV: "TEST"

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Restore Docker layer cache
        uses: actions/cache@v4
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build backend Docker image
        run: |
          docker buildx build \
            --load \
            --cache-from=type=local,src=/tmp/.buildx-cache \
            --cache-to=type=local,dest=/tmp/.buildx-cache-new,mode=max \
            -t giorgi023/lowry-backend:latest \
            ./backend

      - name: Move new cache into place
        if: always()
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache

      - name: Create .env file
        run: |
          cat <<EOF > .env
          POSTGRES_DB=${POSTGRES_DB}
          POSTGRES_USER=${POSTGRES_USER}
          POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
          POSTGRES_HOST=${POSTGRES_HOST}
          POSTGRES_PORT=${POSTGRES_PORT}
          ACCESS_TOKEN_SECRET_KEY=${ACCESS_TOKEN_SECRET_KEY}
          REFRESH_TOKEN_SECRET_KEY=${REFRESH_TOKEN_SECRET_KEY}
          ALGORITHM=${ALGORITHM}
          MINIO_ROOT_USER=${MINIO_ROOT_USER}
          MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
          MINIO_BUCKET=${MINIO_BUCKET}
          MINIO_ENDPOINT=${MINIO_ENDPOINT}
          BASE_FRONTEND_URL=${BASE_FRONTEND_URL}
          MAIL_USERNAME=${MAIL_USERNAME}
          MAIL_PASSWORD=${MAIL_PASSWORD}
          ENV=${ENV}
          EOF

      - name: Run backend container
        run: |
          docker run -d \
            --name backend \
            --env-file .env \
            giorgi023/lowry-backend:latest \
            tail -f /dev/null

      - name: Run Static Analysis
        run: docker exec backend flake8

      - name: Run tests inside container
        run: docker exec backend pytest --maxfail=1 --disable-warnings

      - name: Stop and remove container
        if: always()
        run: |
          docker stop backend
          docker rm backend

  push-images:
    name: Push Images to Docker Hub
    runs-on: ubuntu-latest
    needs: run-tests
    if: github.ref == 'refs/heads/main' || github.ref == 'refs/heads/test'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Push backend Docker image to Docker Hub
        run: |
          docker buildx build \
            --push \
            -t giorgi023/lowry-backend:latest \
            ./backend

      - name: Build and push frontend Docker image
        run: |
          docker buildx build \
            --push \
            -t giorgi023/lowry-frontend:latest \
            ./frontend
